{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="data">
        <table>
            <h2><b>{{ username }}'s game history:</b></h2>
            <thead>
                <tr class="header">
                    <th id="time" class="text-center">Time</th>
                    <th id="opponent" class="text-center">Opponent</th>
                    <th id="result" class="text-center">Result</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.time }}</td>
                        <td>{{ game.opponent }}</td>
                        <td>{{ game.result }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
