{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block main %}

<div class="board">
    {% if not game_over %}
        <div id="circle"></div>
        <h2 class="{% if turn == 1 %}redtext{% elif turn == 2 %}yellowtext{% endif %}">Player {{ turn }}'s Turn</h2>
        <b>Click "Drop here" to make move</b>
        <hr></hr>
    {% endif %}
    {% if game_over %}
        <h2>Game over.</h2>
        <hr></hr>
    {% endif %}
    <table>
        {% if not game_over %}
        <thead>
            <tr>
                <form action="/play{{ numPlayers }}" method="post">
                    <th><button class="drop-button" type="submit" name="buttonId" value="0">Drop here</button></th>
                    <th><button class="drop-button" type="submit" name="buttonId" value="1">Drop here</button></th>
                    <th><button class="drop-button" type="submit" name="buttonId" value="2">Drop here</button></th>
                    <th><button class="drop-button" type="submit" name="buttonId" value="3">Drop here</button></th>
                    <th><button class="drop-button" type="submit" name="buttonId" value="4">Drop here</button></th>
                    <th><button class="drop-button" type="submit" name="buttonId" value="5">Drop here</button></th>
                    <th><button class="drop-button" type="submit" name="buttonId" value="6">Drop here</button></th>
                </form>
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for row in board %}
                <tr>
                    {% for spot in row %}
                        <td class="{% if spot == 1 %}redgame{% elif spot == 2 %}yellowgame{% else %}white{% endif %}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if game_over %}
        <!-- Play Again Link Styled as a Button -->
        <a href="/play-again/{{ numPlayers }}" id="againButton" class="blue-button">Play again</a>

        <!-- Home Link Styled as a Button -->
        <a href="/" id="homeButton" class="blue-button">Go home</a>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('mousemove', function(e) {
            let circle = document.getElementById('circle');
            circle.style.left = e.clientX + 'px';
            circle.style.top = e.clientY + 'px';
        });

        // Set the color based on the Jinja2 variable
        window.onload = function() {
            let circle = document.getElementById('circle');
            circle.style.left = '-100px'; // Initially off-screen
            circle.style.top = '-100px'; // Initially off-screen
            let circleColor = {{ turn }};
            if (circleColor === 1) {
                circle.style.backgroundColor = '#d61915';
            } else if (circleColor === 2) {
                circle.style.backgroundColor = '#f2d011';
            }
        };
</script>
{% endblock %}
